<div class="container text-center ">
    <br>
    <div class="styleDiv">
        <h2>{{producto.detalleProducto}}</h2>
        <img width="35%" src="{{producto.urlImagen}}" class="img-fluid" alt="">
        <p>{{producto.descripcionProducto}}</p>
        <p>Precio unitario:{{producto.precio | currency}}</p>
        <p>Cantidad disponible: {{producto.cantidadDisponible}}</p>
        <button (click)="agregarCarrito()" class="btn btn-primary">Agregar Carrito</button>
        &nbsp;&nbsp;
        <button (click)="regresar()" class="btn btn-danger">Regresar</button>
    </div>
</div>