.float {
    position: fixed;
    width: max-content;
    height: max-content;
    padding: 10px;
    bottom: 80px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    border: none;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}
.styleProduct{
    padding: 10px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 15px;
}